@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-background-light: #ffffff;
  --color-background-dark: #101922;

  --font-display: "Manrope", sans-serif;
  --font-sans: "Manrope", ui-sans-serif, system-ui;
  --font-code: "JetBrains Mono", sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;


  --color-back-1: #f1f5f9;
  --color-back-white: #ffffff;
  --color-back-header: #e2e8f0;

  --color-hover-back-1: #e0e7ff;


  --color-primary: #0d5caf;
  --color-details: #137fec;
  --color-danger: #e11d48;
  --color-green-app: #10b981;

  --color-title: #0f172a;
  --color-sub-title: #475569;
  --color-body: #1e293b;

  --color-bg-sidebar: #F8FAFC;

  --color-border-sidebar: #E6EBF2;

  --color-title-table: #556882;

  --color-done-button-bg: #F1F5F9;
  --color-done-button-text: #8E9EB4;

  --color-money: #079566;
  --color-no-money: #5B6F88;

  --color-stars: #FBBF24;

  --color-in-client: #169E74;
  --color-out-client: #DF002A;

  --color-primary-bg: #256CB7;
  --color-primary-bg-2: #3D7CBF;

  --color-yape: #5F0B72;
  --color-plin: #00E2CE;

  --color-gray-10: #95A5BA;
  --color-orange-1: #F59E0B;

}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply antialiased; 
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  button {
    @apply transition-all duration-300 hover:opacity-80 cursor-pointer;
  }
}       
/* 
<div className="p2 w-full h-10 bg-[#0d5bb1]"/>{/* azul oscuro }
<div className="p2 w-full h-10 bg-[#137fec]"/>{/* azul claro }
<div className="p2 w-full h-10 bg-[#e11d48]"/>{/* rojo }
<div className="p2 w-full h-10 bg-[#0f172a]"/>{/* negro }
<div className="p2 w-full h-10 bg-[#475569]"/>{/* gris claro 1 }
<div className="p2 w-full h-10 bg-[#1e293b]"/>{/* gris oscuro }
<div className="p2 w-full h-10 bg-[#94a3b8]"/>{/* gris claro 2 }
<div className="p2 w-full h-10 bg-[#f8fafc]"/>{/* blanco 1 }
<div className="p2 w-full h-10 bg-[#e2e8f0]"/>{/* blanco 2 }
<div className="p2 w-full h-10 bg-[#10b981]"/>{/* verde }
<div className="p2 w-full h-10 bg-[#f1f5f9]"/>{/* blanco 3 }

*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@utility writing-vertical {
  writing-mode: vertical-lr;
}